{% extends "crud/base.html" %}
{% block title %}user list{% endblock %}
{% block content %}
<h2>users</h2>
<a href="{{ url_for('crud.create_user') }}">create user</a>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
    </tr>
    {% for user in users %}
    <tr>
        <td><a href="{{ url_for('crud.edit_user', user_id=user.id)}}">{{ user.id }}</td></a>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}